.footer-nav {
  cursor: pointer;
  font-size: 0.90rem;
  padding-top: 10px;
  padding-left: 20px;
}

.footer-nav ul {
  list-style: none;
  padding: 0px;
}

.mast-foot {
  background-color: #FFEB3B;
  color: black;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  font-size: 0.80rem;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.sub-footer {
  font-size: 0.70rem;
}
