<div class="mast-foot">
  <div
    class="footer-nav"
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayout="row"
    fxLayoutAlign="center stretch"
  >
    <div>
      <h4>Resources & Services</h4>
      <ul>
        <li>
          <a
            href="https://www.website.com/main_rescources/"
            target=""
            id="anch_387"
            >Main Resource</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/womens_rescources/"
            target=""
            id="anch_388"
            >Womens Resources</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/minority_rescources/"
            target=""
            id="anch_389"
            >Minority Resources</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/other_resources"
            target=""
            id="anch_390"
            >Other Resources</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/mental_health"
            target=""
            id="anch_391"
            >Mental Health</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/sports_events/"
            target=""
            id="anch_392"
            >Sports & Special Events</a
          >
        </li>
        <li>
          <a
            href="https://www.website.com/rescources"
            target="_blank"
            id="anch_393"
            >National Resources</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4>More Resources</h4>
      <ul>
        <li>
          <a href="https://www.website.com/forms/" id="anch_394">Find a Form</a>
        </li>
        <li>
          <a
            href="https://www.mobile.app.com/getTheApp/"
            target="_blank"
            id="anch_395"
            >Mobile Apps</a
          >
        </li>
        <li>
          <a href="https://www.website.com/jobs/" id="anch_396">Careers</a>
        </li>
        <li>
          <a href="https://www.website.com/business" id="anch_397"
            >Do Business With Us</a
          >
        </li>
        <li>
          <a href="https://www.website.com/get_accreditation" id="anch_398"
            >Accreditation</a
          >
        </li>
        <li>
          <a
            href="https://www.yourwebsite.com/healthcare_providers/"
            target="_blank"
            id="anch_399"
            >Healthcare</a
          >
        </li>
        <li>
          <a href="https://www.website.com/volunteer/" id="anch_400"
            >Volunteer Orgs</a
          >
        </li>
        <li>
          <a href="https://www.website.com/offices" id="anch_401">Offices</a>
        </li>
        <li>
          <a href="https://www.website.com/welcome/" id="anch_402">Welcome</a>
        </li>
      </ul>
    </div>
    <div>
      <h4>Get Updates</h4>
      <ul>
        <li>
          <a
            href="https://www.blogs.com/yourBlog/"
            target="_blank"
            id="anch_403"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="https://website.email.com/accounts/youremail/subscriber/new/"
            target="_blank"
            id="anch_404"
            >Email updates</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank" id="anch_405"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" id="anch_406"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.twitter.com/" target="_blank" id="anch_407"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://www.flickr.com/" target="_blank" id="anch_408"
            >Flickr</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank" id="anch_409"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://www.website.com/smn/socialmedia" id="anch_410"
            >All social media</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4>INeed Phone? Get now</h4>
      <ul>
        <li>
          <p>
            Phone Line:<br />
            <span class="larger"
              ><a href="tel:phoneNumber" id="anch_411">Phone Number</a></span
            >
            (Press 1)
          </p>
        </li>
      </ul>
      <h4>Contact us</h4>
      <ul>
        <li>
          <a href="https://www.website.com/find-locations/" id="anch_412"
            >Find a location</a
          >
        </li>
        <li>
          <a href="https://www.va.gov/contact-us/" id="anch_413">Contact</a>
        </li>
        <li>
          <span class="va-footer-link-label">Phone Number Header:</span>
          <a
            aria-label="phone: phone number"
            href="tel:phoneNumber"
            id="anch_414"
            >Phone Number</a
          >
        </li>
        <li>
          <span class="va-footer-link-text"
            ><a aria-label="TTY: 711" href="tel:+altPhone" id="anch_415"
              >Alt Phone or TTY link</a
            ></span
          >
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div class="sub-footer text-center">
    <p>This text will give attribution.</p>
  </div>
</div>
