$md-vatheme: (
  50 : #e4e5e8,
  100 : #bbbfc5,
  200 : #8d959f,
  300 : #5f6a78,
  400 : #3d4a5b,
  500 : #1b2a3e,
  600 : #182538,
  700 : #141f30,
  800 : #101928,
  900 : #080f1b,
  A100 : #5b8dff,
  A200 : #286aff,
  A400 : #004bf4,
  A700 : #0043da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
